certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.28
django-ipware==1.1.6
facebook-sdk==2.0.0
idna==2.6
PyMySQL==0.7.11
pytz==2017.2
requests==2.20.0
simplejson==3.11.1
Unidecode==0.4.21
urllib3==1.22
