<html>
<header>

    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.css"/>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = 'duaM3CgalvXJOrgqr0JRVPWsJn17jVmn';

        var map = L.mapquest.map('map', {
          center: [37, -119],
          layers: L.mapquest.tileLayer('map'),
          zoom: 5
        });

        {% for shelter in shelters %}

        L.marker([{{ shelter.location_lat }}, {{shelter.location_long}}], {
          icon: L.mapquest.icons.marker({
            primaryColor: '#22407F',
            secondaryColor: '#3B5998',
            shadow: true,
            size: 'md',
            symbol: 'A'
          })
        }).bindPopup('{{ shelter.shelter_name }}').addTo(map);

        {% endfor %}

        {% for t in tickets %}

        L.marker([{{ t.location_lat }}, {{t.location_long}}], {
          icon: L.mapquest.icons.marker({
            primaryColor: '#22407F',
            secondaryColor: '#3B5998',
            shadow: true,
            size: 'md',
            symbol: 'A'
          })
        }).bindPopup('{{ t.type_of_assistance }}').addTo(map);

        {% endfor %}

        map.addControl(L.mapquest.control());
      }
    </script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.1.0/mapquest.css"/>

</header>

<body>
    
    <div style="width: 30%; height: 100%; float:right"> 
    {% for s in shelters %}
        <div> 
            {{ s.shelter_name }}
            <br/> {{ s.address }}
            <br/>[{{s.people_inside}} / {{s.max_capacity}}]
        </div>
        <hr/>

    {% endfor %}
    </div>
    <div id="map" style="width: 60%; height: 100%; float:left;"></div>
    
    <!-- {{ shelter_list }} -->
</body>


</html>