{% extends 'base.html' %}



    {% block script %}

        <script src="/static/js/mapquest.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/mapquest.css"/>


    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = '{{ settings.MAPQUEST_API_KEY }}';

        var map = L.mapquest.map('map', {
          center: [37, -119],
          layers: L.mapquest.tileLayer('map'),
          zoom: 5
        });

        {% for shelter in shelters %}

        var link = '<div class="shelter_popup">' +
                    '<div class="shelter_name"><a class="shelter_link" href="#{{ shelter.id }}">{{ shelter.shelter_name }}</a></div>' +
                    '<div class="shelter_count">[{{shelter.people_inside}} / {{shelter.max_capacity}}]</div>' +
                    '<a href="#" class="i_need_help" id="shelter_need_help_popup-content" onclick='+"$('#shelter_need_help_popup{{ shelter.id }}').show();"+'>Go there</a>' +
                    '<a href="#" class="i_want_help" id="shelter_want_help_popup-content" onclick='+"$('#shelter_want_help_popup{{ shelter.id }}').show();"+'>I want to help</a>' +
                    '</div>';


        L.marker([{{ shelter.location_lat }}, {{shelter.location_long}}], {
          icon: L.mapquest.icons.marker({
            primaryColor: '#22407F',
            secondaryColor: '#3B5998',
            shadow: true,
            size: '{{ shelter.size }}',
            symbol: '{{shelter.symbol }}'
          })
        }).bindPopup(link).addTo(map);


        {% endfor %}
        {% for ticket in tickets %}

        L.marker([{{ ticket.location_lat }}, {{ticket.location_long}}], {
          icon: L.mapquest.icons.marker({
            primaryColor: '#cd26d6',
            secondaryColor: '#720cd6',
            shadow: true,
            size: '{{ ticket.size }}',
            symbol: {% if ticket.status == 1 %}'C'{% elif ticket.status == 2 %}'U'{% elif ticket.status == 3 %}'N' {% else %}'D'{% endif %}
          })
        }).bindPopup('{{ ticket.type_of_assistance }}').addTo(map);

        {% endfor %}

        map.addControl(L.mapquest.control());
      }
    </script>



    {% endblock %}






{% block content %}

<div style="height: 100%">


        {% for shelter in shelters %}

    <div style="display: none;" class="shelterpopup" id="shelter_need_help_popup{{ shelter.id }}">
        <div class="close" onclick="$('#shelter_need_help_popup{{ shelter.id }}').hide()">x</div>
        <div class="content">
            {% include "blocks/shelter_need_help_popup.html" with shelter=shelter%}
        </div>
    </div>

    <div style="display: none;" class="shelterpopup" id="shelter_want_help_popup{{ shelter.id }}">
        <div class="close" onclick="$('#shelter_want_help_popup{{ shelter.id }}').hide()">x</div>
        <div class="content">
            {% include "blocks/shelter_want_help_popup.html" with shelter=shelter%}
        </div>
    </div>


        {% endfor %}


    <div id="map" class="map"></div>




    <div class="bottom-menu" style="overflow: hidden;">
        <div class="container">
            <div class="bottom-menu-item">
                <div class="block">
                    Content
                </div>
            </div>
            <div class="bottom-menu-item center">
                <div class="block">
                    Content
                </div>
            </div>
            <div class="bottom-menu-item">
                <div class="block">
                    {% include "blocks/auth_block.html" %}
                </div>
            </div>
        </div>
    </div>




</div>





{% endblock %}
