<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map with shelters</title>
</head>
<body>
{% if shelters_list %}
    <ul>
    {% for shelter in shelter_list %}
        <p>Name: {{ shelter.name }}</p>
        <p> Occupation: {{shelter.people_inside }} / {{shelter.max_capacity }}</p>
        <p> Address: {{shelter.address}} </p>
        <li><a href="/shelters/{{ shelter.id }}/">More info</a></li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No shelters are available.</p>
{% endif %}

</body>
</html>