<!DOCTYPE html>
<html lang="en">
<head>
  <title>Provide Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<form class="form-horizontal" action="/needhelp/submit" method="post">
<fieldset>

<!-- Form Name -->
<legend>Please specify your details and requirements</legend>

<!-- Text input-->
{% csrf_token %}
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Phone Number</label>  
  <div class="col-md-5">
  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="familysize">People along with you</label>  
  <div class="col-md-5">
  <input id="familysize" name="familysize" type="text" placeholder="write in numerals" class="form-control input-md">
    
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="requirements">Choose your requirements</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="requirements-0">
      <input type="checkbox" name="requirements" id="requirements-0" value="1">
      Food
    </label>
  </div>
  <div class="checkbox">
    <label for="requirements-1">
      <input type="checkbox" name="requirements" id="requirements-1" value="2">
      Water
    </label>
  </div>
  <div class="checkbox">
    <label for="requirements-2">
      <input type="checkbox" name="requirements" id="requirements-2" value="3">
      Blanket
    </label>
  </div>
  <div class="checkbox">
    <label for="requirements-3">
      <input type="checkbox" name="requirements" id="requirements-3" value="4">
      Pain Killer
    </label>
  </div>
  <div class="checkbox">
    <label for="requirements-4">
      <input type="checkbox" name="requirements" id="requirements-4" value="5">
      Sedative
    </label>
  </div>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="misc">Optional comment</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="misc" name="misc"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button"></label>
  <div class="col-md-4">
    <button id="button" name="button" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>

</body>
</html>